$color1: #e1c072;
$color3: #725b16;

.Plata{
	button {
		background-image: url("/images/cart.png"), linear-gradient(135deg, #BDCAD9 0%, darken( #4847a9, 10%) 100%);
	}
	
	#card-inner{ 
		#popup-text{
			background: linear-gradient(135deg, #BDCAD9 0%, darken( #4847a9, 10%) 100%);
		}
		#card-top{
			background: linear-gradient(135deg, #BDCAD9 0%, darken( #4847a9, 10%) 100%);

			.info{
				div{
					&.country {
						border-bottom: 2px solid transparentize(#E1DADA, 0.1);
					}
				}
			}
		}
		#card-bottom {
			background: linear-gradient(135deg, #BDCAD9 0%, darken(#BDCAD9, 10%) 100%);
			
			&:before {
				background: lighten(#BDCAD9, 7%);
			}
			.stats {
				border-top: 4px solid #BDCAD9;
				&:after {	
					background: #BDCAD9;
				}
				&:before {
					background: #BDCAD9;
				}
			}	
		}
	}
}

.Bronce{
	button {
		background-image: url("/images/cart.png"), linear-gradient(135deg, #F2A65A 0%, darken(#772F1A, 10%) 100%);
	}
	#card-inner{ 
		#popup-text{

			background: linear-gradient(135deg, #BDCAD9 0%, darken( #4847a9, 10%) 100%);
		}
		#card-top{
			background: linear-gradient(135deg, #F2A65A 0%, darken(#772F1A, 10%) 100%);

			.info{
				div{
					&.country {
						border-bottom: 2px solid transparentize(#F2A65A, 0.1);
					}
				}
			}
		}
		#card-bottom {
			background: linear-gradient(135deg, #772F1A 0%, darken(#772F1A, 10%) 100%);
			
			&:before {
				background: lighten(#772F1A, 7%);
			}
			.stats {
				border-top: 4px solid #772F1A;
				&:after {	
					background: #772F1A;
				}
				&:before {
					background: #772F1A;
				}
			}	
		}
	}
}

.Oro{
	button {
		background-image: url("/images/cart.png"), linear-gradient(135deg,#fdeaa7 0%, darken(#fdeaa7, 10%) 100%);
	}
	#card-inner{ 
		#popup-text{
			background: linear-gradient(135deg,#fdeaa7 0%, darken(#fdeaa7, 10%) 100%);
		}
		#card-top{
			background: linear-gradient(135deg,#fdeaa7 0%, darken(#fdeaa7, 10%) 100%);

			.info{
				div{
					&.country {
						border-bottom: 2px solid transparentize(#fdeaa7, 0.1);
					}
				}
			}
		}
		#card-bottom {
			background: linear-gradient(135deg, #fdeaa7 0%, darken(#a5881d, 10%) 100%);
			
			&:before {
				background: lighten(#fdeaa7, 7%);
			}
			.stats {
				border-top: 4px solid #fdeaa7;
				&:after {	
					background: #fdeaa7;
				}
				&:before {
					background: #fdeaa7;
				}
			}	
		}
	}
}

#body {
	position: relative;
	min-height: 85vh;
	width: 90%;
	background: darken($color1, 30%);
	background: radial-gradient(ellipse at center, darken($color1, 50%) 0%, darken($color1, 80%));
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto Condensed", sans-serif;
	
	input{

		position: absolute;
		bottom: 0;
		right: 50px;
		margin: 10px;
		width: 50px; /* Adjust the width as needed */
		height: 40px; /* Adjust the height as needed */
		font-size: 18px; /* Adjust the font size as needed */

	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 10px;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: cover;
		//background: linear-gradient(135deg, #BDCAD9 0%, darken(#4847a9, 10%) 100%);
		border: none;
		cursor: pointer;		  
	  }
	  button:hover{
		filter: brightness(120%); 
	  }
}
#card {
	position: relative;
	color: $color3;
	width: 270px;
	height: 430px;
	background: #ddd;
	margin: auto;
	clip-path: url("#svgPath");
	display: block;
	opacity: 1;
  
	#card-inner {
		position: absolute;
		top: 0;
		left: 0;
		background: #aaa;
		height: 100%;
		width: 100%;
		#popup-text {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 54%;
			overflow: hidden;
			display: flex;
			align-items: center; /* Center vertically */
			justify-content: center; /* Center horizontally */
			
		  }
		  
		  .popup-content {
			display: flex;
			flex-direction: column;
			align-items: center; /* Center horizontally within the flex container */
			justify-content: center; /* Center vertically within the flex container */
		  }
		  
		  .popup-content p {
			margin-bottom: 10px; /* Add spacing between the elements */
		  }
		  
		  .popup-content h1 {
			margin: 0; /* Remove any default margin */
		  }
		  
		#card-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 54%;
			overflow: hidden;
			.backfont {
				position: absolute;
				bottom: 30%;
				line-height: 1;
				font-size: 70px;
				left: 1;
				letter-spacing: -5px;
				opacity: 1;
				font-weight: 700;
				font-style: italic;
			}
      
			.image {
				position: absolute;
				right: 20px;
				bottom: 0;
				height: 77%;
				width: 57%;
				background-position: bottom center;
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 1;
			}
      
			.info {
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 3;
				height: 75%;
				width: 30%;
				box-sizing: border-box;
				padding: 0 20px;
				text-align: center;
				text-transform: uppercase;
        
				div {
					position: relative;
					line-height: 1;
					letter-spacing: -1px;
					font-size: 20px;
					opacity: 1;
					top: 20px;
          
					&.value {
						font-size: 40px;
					}
          
					&.position,
					&.country {
						padding-bottom: 2px;
						font-weight: 700;
						margin-bottom: 2px;
					}
          
					&.country,
					&.club {
						position: relative;
						display: block;
						width: 40px;
						margin: 3px auto;
						.imagenNacionalidad {
							position: relative;
							height: 100%;
							width: 100%;
							background-position: center;
							background-size: cover;
						}
					}
          
					&.club {
						height: 60px;
						.imagenEquipo {
							position: relative;
							height: 100%;
							width: 100%;
							background-size: contain;
							background-position: top center;
							background-repeat: no-repeat;
						}
					}
				}
			}
		}
    
		#card-bottom {
			overflow: auto;
			position: absolute;
			overflow: hidden;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 46%;
      
			&:before {
				content: "";
				position: absolute;
				height: 90%;
				left: 0;
				top: -1px;
				width: 100%;
				height: 3px;
			}
      
			.name {
				text-align: center;
				font-size: 17px;
				text-transform: uppercase;
				font-weight: 700;
				opacity: 1;
				top: -5px;
				position: relative;
				margin: 6px 0;
			}
      
			.stats {
				position: relative;
				margin: 0 40px;
				padding-top: 10px;
        
				&:after {
					content: "";
					position: absolute;
					bottom: 0px;
					left: 0;
					right: 0;
					margin: 0 auto;
					height: 4px;
					width: 0;
					width: 25%;	
				}
        
				&:before {
					content: "";
					position: absolute;
					bottom: 0px;
					left: 0;
					right: 0;
					margin: 5% auto;
					height: 0%;
					width: 4px;
				}
        
				div {
					width: 49%;
					vertical-align: top;
					display: inline-block;
					text-transform: uppercase;
					font-size: 18px;
          
					&:last-child {
						ul {
							margin-left: 20px;
						}
					}
				}
        
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
          
					li {
						margin: 0;
						position: relative;
						padding: 0;
						display: block;
						margin-bottom: 5px;
						opacity: 1;
						left: 20px;
            
						span {
							position: relative;
							display: inline-block;
              
							&:first-child {
								font-weight: 700;
								width: 30px;
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
  
	display: block;
	cursor: pointer;
	transform: rotate(0deg);
	opacity: 1;
  
	#card-inner {
		#card-top {
			.image {
				right: 1;
				opacity: 1;
			}
      
			.info div {
				opacity: 1;
				top: 0;
			}
		}
    
		#card-bottom {
			.stats {
        
				&:before {
					height: 90%;
				}
        
				ul {
					li {
						opacity: 1;
						left: 0;
					}
				}
			}
      
			.name {
				opacity: 1;
				top: 0;
			}
		}
	}
}